@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Home page with basic info-->

<div class="container text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/img/joelhilton.jpg" />
    <br /><br />
    <p>Hi! I love movies. I watch and critique movies during my weekly podcast "Baconsale".
    If you would like to learn more about my podcast, click <a asp-action="Podcasts">here</a>. If you would like to recommend
    a movie for me to watch and critique, send it to me through this form <a asp-action="MovieForm">here</a>.</p>
</div>