@{
    ViewData["Title"] = "My Podcasts";
}

<!--Page with link to Baconsale podcast site-->

<div class="text-center">
    <h1 class="display-4">Baconsale</h1>
    <p>If you're interested in movie podcasts, check out mine! You can find all episodes at <a href="https://baconsale.com/">baconsale.com</a></p>
</div>